body {
    background-color: #F8F8F8;
    font-size: 16px;
}

.container {
    clear: both;
    margin: 3% auto;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    padding: 20px 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #ccc;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.header {
    display: inline-flex;
    margin: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header div {
    font-weight: 500;
    font-size: 20px;
}

.content {
    width: 100%;
    margin: 0;
}

.list {
    list-style-type: none;
    margin-right: 20px;
}


.list .list-item {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    padding: 10px 10px 15px 0;
    border-bottom: 2px solid lightgray;
}

.display-name, .username {
    margin-top: 8px;
}

button {
    background-color: transparent;
    border: 0;
}


.content button {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 10px;
}
#data_table{
    margin: 30px 0 !important;
}