body {
    background-color: #F8F8F8;
    overflow: hidden;
}

.container {
    clear: both;
    margin: 3% 10%;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    padding: 40px 60px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #ccc;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.header {
    display: inline-flex;
    margin: 20px auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header div {
    font-weight: 500;
    font-size: 24px;
}

.content {
    width: 100%;
    margin: auto;
}

.function {
    margin-left: 10px;
    margin-bottom: 20px;
}

.add-place {
    border: 0;
    background-color: #00A3FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 12px;
}

.label {
    width: 95%;
    margin: 25px 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #00A3FF;
    font-size: 16px;
    font-weight: bold;
}

button.edit {
    padding: 6px 14px;
    background-color: #7ed987;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    height: 40px;
}

.text-center {
    margin-bottom: 40px;
}

.input {
    margin-left: 20px;
}

.input input {
    padding: 5px 10px;
    margin: 8px auto;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-footer input {
    padding: 10px 15px;
    margin: 15px 20px;
    border-radius: 10px;

}

.btn.cancel {
    background-color: #C1C1C1;
}

.btn.update {
    background-color: #40CEE1;
}