body {
    background-color: #F8F8F8;
    overflow: hidden;
    font-size: 12px;
}

.container {
    clear: both;
    margin: 3% 15%;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    padding: 30px 40px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #ccc;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.header {
    display: inline-flex;
    margin: 20px auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header div {
    font-weight: 500;
    font-size: 20px;
}

.content {
    width: 100%;
    margin: auto;
}

.function {
    margin-left: 10px;
    margin-bottom: 20px;
}

.add-place {
    border: 0;
    background-color: #00A3FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 12px;
}

.label {
    width: 95%;
    margin: 25px 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #00A3FF;
    font-size: 16px;
    font-weight: bold;
}