{{#section "style"}}
    <link rel="stylesheet" href="/css/home.css" />
{{/section}}

<div class="content">
    <div class="intro py-5">
        <div class="container intro-container">
            <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div>
                        <h1 class="intro-title mt-lg">Cùng nhau chung tay đánh bay Covid !!</h1>
                        <p class="intro-description">
                            Năm 2021, đối mặt với dịch Covid, việc học trực tuyến ngày càng đóng vai trò quan trọng
                            trong nền giáo dục...
                        </p>
                    </div>
                </div>
                <div class="intro-img col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
                    <img src="img/home/intro.png" alt="intro-img" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <div class="list-product py-5">
        <div class="container list-product-container">
            <h1 class="text-center fw-bold mb-5">Tất cả danh mục</h1>
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 gx-5">
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-thuoc.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Thuốc</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-thucannhanh.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Thức ăn nhanh</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-douong.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Đồ uống</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-anvat.jpeg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Ăn vặt</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-giavi.png" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Gia vị</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-thucphamtuoi.webp" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Thực phẩm tươi</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-thucphamkho.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Thực phẩm khô</div>
                    </div>
                </div>
                <div class="col">
                    <div class="product-item">
                        <div class="product-item-img">
                            <img src="img/home/category-sinhhoat.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="product-item-name">Đồ sinh hoạt cá nhân</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="popular-product py-5">
        <div class="container">
            <h1 class="popular-product-title mb-5">Sản phẩm phổ biến</h1>
            <div class="container my-3">
                <div class="row mx-auto my-auto justify-content-center">
                    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card p-3 mx-4">
                                        <div class="card-img">
                                            <img src="img/home/package-thucannhanh.png" class="popular-product-img" />
                                        </div>
                                        <div class="card-body p-0">
                                            <h5 class="card-title py-3">Gói thức ăn nhanh 1</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="price">
                                                    <span>
                                                        <strong>
                                                            195.000
                                                            <i class="fa-solid fa-dong-sign"></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href="product/1" class="btn btn-detail m-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card p-3 mx-4">
                                        <div class="card-img">
                                            <img src="img/home/package-drink.png" class="popular-product-img" />
                                        </div>
                                        <div class="card-body p-0">
                                            <h5 class="card-title py-3">Gói đồ uống 2</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="price">
                                                    <span>
                                                        <strong>
                                                            50.000
                                                            <i class="fa-solid fa-dong-sign"></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href="product/1" class="btn btn-detail m-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card p-3 mx-4">
                                        <div class="card-img">
                                            <img src="img/home/package-thucpham-2.png" class="popular-product-img" />
                                        </div>
                                        <div class="card-body p-0">
                                            <h5 class="card-title py-3">Gói thực phẩm tươi 2</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="price">
                                                    <span>
                                                        <strong>
                                                            200.000
                                                            <i class="fa-solid fa-dong-sign"></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href="product/1" class="btn btn-detail m-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card p-3 mx-4">
                                        <div class="card-img">
                                            <img src="img/home/package-thucpham.jpg" class="popular-product-img" />
                                        </div>
                                        <div class="card-body p-0">
                                            <h5 class="card-title py-3">Gói thực phẩm 1</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="price">
                                                    <span>
                                                        <strong>
                                                            100.000
                                                            <i class="fa-solid fa-dong-sign"></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href="product/1" class="btn btn-detail m-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="card p-3 mx-4">
                                        <div class="card-img">
                                            <img src="img/home/package-thuoc-2.jpeg" class="popular-product-img" />
                                        </div>
                                        <div class="card-body p-0">
                                            <h5 class="card-title py-3">Gói thuốc 2</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="price">
                                                    <span>
                                                        <strong>
                                                            220.000
                                                            <i class="fa-solid fa-dong-sign"></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href="product/1" class="btn btn-detail m-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a
                            class="carousel-control-prev rounded-circle"
                            href="#recipeCarousel"
                            role="button"
                            data-bs-slide="prev"
                        >
                            <i class="fa fa-chevron-left carousel-control-prev-icon-custom"></i>
                        </a>
                        <a
                            class="carousel-control-next rounded-circle"
                            href="#recipeCarousel"
                            role="button"
                            data-bs-slide="next"
                        >
                            <i class="fa fa-chevron-right carousel-control-next-icon-custom"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "script"}}
    <script>
        let items = document.querySelectorAll(".carousel .carousel-item"); items.forEach((el) => { const minPerSlide =
        4; let next = el.nextElementSibling; for (var i = 1; i < minPerSlide; i++) { if (!next) { next = items[0]; } let
        cloneChild = next.cloneNode(true); el.appendChild(cloneChild.children[0]); next = next.nextElementSibling; } });
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
{{/section}}