{{#section "style"}}
    <link rel="stylesheet" href="/css/product.css" />
{{/section}}
<div class="container py-5">
    <div class="d-flex justify-content-center product-info">
        <div class="px-3">
            <img src="../img/home/package-thucannhanh.png" alt="" class="img-fluid product-img" />
        </div>
        <div class="px-5">
            <h2 class="product-name pt-4">Gói thức ăn nhanh 1</h2>
            <div class="pt-3 form d-flex justify-content-between align-items-baseline">
                <label for="soluong" class="form-label m-0">Số lượng</label>
                <div>

                    <i class="fa-solid fa-circle-minus text-success"></i>
                    <input type="text" placeholder="1" class="form-control border-1" id="soluong" value="1" />
                    <i class="fa-solid fa-circle-plus text-success"></i>
                </div>
            </div>
            <div class="pb-3 d-flex justify-content-between align-items-baseline">
                <div><strong>Tổng thanh toán: </strong></div>
                <div class="product-price">
                    195.000
                    <i class="fa-solid fa-dong-sign"></i>
                </div>
            </div>
            <div class="product-description pb-3">
                <span>Combo 2 người ăn thả ga. <br /> Thích hợp ăn sáng/trưa/tối</span>
            </div>

            <a href="/product-payment/1" class="btn btn-danger">Đặt hàng</a>
        </div>
    </div>

    <h3 class="pb-3">Danh sách sản phẩm</h3>
    <div class="product-detail">
        <table id="dataTable" class="table mt-5" style="width:100%">
            <thead class="text-primary">
                <tr>
                    <th>Ảnh sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn vị định lượng</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="product-img-detail">
                            <img src="../img/home/detail-garan.jpg" alt="" class="img-detail" />
                        </div></td>
                    <td>Gà rán</td>
                    <td>cái</td>
                    <td>x2</td>
                    <td>35.000</td>
                    <td>70.000</td>
                </tr>
                <tr>
                    <td><div class="product-img-detail">
                            <img src="../img/home/detail-khoaitay.jpg" alt="" class="img-detail" />
                        </div></td>
                    <td>Khoai tây chiên</td>
                    <td>phần</td>
                    <td>x1</td>
                    <td>20.000</td>
                    <td>20.000</td>
                </tr>
                <tr>
                    <td><div class="product-img-detail">
                            <img src="../img/home/detail-pizza.jpg" alt="" class="img-detail" />
                        </div></td>
                    <td>Pizza</td>
                    <td>phần</td>
                    <td>x1</td>
                    <td>45.000</td>
                    <td>45.000</td>
                </tr>
                <tr>
                    <td><div class="product-img-detail">
                            <img src="../img/home/detail-com.webp" alt="" class="img-detail" />
                        </div></td>
                    <td>Cơm rang</td>
                    <td>phần</td>
                    <td>x2</td>
                    <td>15.000</td>
                    <td>30.000</td>
                </tr>
                <tr>
                    <td><div class="product-img-detail">
                            <img src="../img/home/detail-coca.png" alt="" class="img-detail" />
                        </div></td>
                    <td>Coca</td>
                    <td>ly</td>
                    <td>x2</td>
                    <td>15.000</td>
                    <td>30.000</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{{#section "script"}}

    <script>
        $(document).ready(function() { $('#dataTable').DataTable(); } );
    </script>
{{/section}}