p {
    margin: 0%;
}

#btnAllCategories {
    border-radius: 5px;
    border: none;
}
a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.price {
    color: red;
    white-space: nowrap;
    overflow: hidden;
}
.card-title {
    color: #05a833;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popular-product-title {
    text-align: center;
    color: #05a833;
    font-weight: bold;
}

.popular-package-img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.packages {
    background-color: #fafafa;
}

.btn-search {
    position: relative;
    margin: 0;
    padding: 10px;
}
.btn-search {
    color: #fff;
    background-color: #6fc072;
    z-index: -1;
    cursor: pointer;
}
.btn-search:hover {
    color: #fff;
    background-color: #4caf50;
}
