.form-select {
    width: auto;
}
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

select.form-select-category {
    background-position: calc(100% - 0.75rem) center !important;
}
.brand {
    color: #05a833;
    font-weight: bold;
    font-size: 1.2rem;
}
