body {
    background-color: #F8F8F8;
    overflow: hidden;
    font-size: 12px;
}

.form-container {
    clear: both;
    margin: 3% 10%;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    padding: 30px 40px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #ccc;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

#username,
#password,
#confirm-password {
    border: 0px;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.input-field {
    display: flex;
    border: 2px solid #DFE0EB;
    border-radius: 12px;
    height: 35px;
    padding-right: 1px;
    margin-bottom: 20px;
}

.input-field .icon {
    border-right: 3px solid #DFE0EB;
    width: 40px;
    text-align: center;
}

.icon i {
    vertical-align: middle;
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.btn.create-account {
    width: 100%;
    background-color: #19212C;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 10px 0;
    margin: 20px 0;
}

.modal-content {
    border-radius: 16px;
    padding: 10px;

}

.btn-close {
    background-color: lightslategray;
}

.modal-footer .btn.update {
    background-color: #719ECE;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

.modal-footer .btn.cancel {
    background-color: lightslategray;
    border-radius: 12px;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
    margin-right: 15px;
}

.modal-body {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
}

.modal-footer p {
    margin: 0 10px;
    font-size: 16px;
}

/* Toast */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    text-align: center;
    /* Centered text */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}