.product-detail{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 40px 30px;
}
#dataTable{

}

/* x-large and up screens */
@media (min-width: 1200px) {
    .product-detail {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.product-info {
    margin-bottom: 60px;
}
.product-name {
    color: #05a833;
    font-weight: bold;
}
.product-img {
    max-width: 400px;
    border-radius: 20px;
}

.product-price {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}

.product-description {
}

#soluong {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 0 5px;
}

.product-img-detail {
    margin-left: 10px;
}

.img-detail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.payment-phone{
    width: 350px;
}