<div class="app-logo">
  <img src="https://i.ibb.co/6Nnf81X/logo-3.png" alt="app-logo">
  <h4>PC-COVID19</h4>
</div>
<div class="tabs">
  <div class="main-tab">
    <a href="#">
      <div class="item active">
        <i class="fa-solid fa-user-plus"></i>
        <span>Tạo tài khoản</span>
      </div>
    </a>
    <a href="#">
      <div class="item">
        <i class="fa-solid fa-people-roof"></i>
        <span>Quản lý tài khoản</span>
      </div>
    </a>
    <a href="#">
      <div class="item">
        <i class="fa-solid fa-list-check fa-lg"></i>
        <span>Quản lý cơ sở</span>
      </div>
    </a>
  </div>
  <div class="account-tab">
    <a href="#">
      <div class="item">
        <i class="fa-solid fa-gear"></i>
        <span>Setting</span>
      </div>
    </a>
    <a href="#">
      <div class="item">
        <i class="fa-solid fa-hand-holding-medical"></i>
        <span>Subscription</span>
      </div>
    </a>
  </div>
</div>
