<div class="search-bar">
    <button class="btn-search" type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <input type="text" id="search" placeholder="Search">
</div>
<div class="account-info ">
    <i class="fa-solid fa-bell"></i>
    <span>Hoàng Vũ</span>
    <div class="dropdown">
        <input type="checkbox" class="dropcheck" id="dropcheck">
        <label for="dropcheck" class="dropbtn"><img
                src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png"
                alt="avatar" width="20px"></label>
        <!-- <button class="dropbtn">
                            <img src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png"
                                alt="avatar" width="20px">
                        </button> -->
        <div class="dropdown-content">
            <a href="#">Thông tin tài khoản</a>
            <a href="#">Đăng xuất</a>
        </div>
    </div>
</div>
