<header>
    <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="../img/home/logo.png" alt="" class="img-fluid" width="50px" />
                    <span class="brand">COVID19 - MSys</span></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <select class="form-select me-3">
                        <option selected value="">Tất cả</option>
                        <option value="5">Thuốc</option>
                        <option value="1">Thức ăn nhanh</option>
                        <option value="2">Đồ uống</option>
                        <option value="3">Ăn vặt</option>
                        <option value="4">Gia vị</option>
                        <option value="6">Thực phẩm tươi</option>
                        <option value="7">Thực phẩm khô</option>
                        <option value="9">Đồ sinh hoạt cá nhân</option>
                    </select>
                    <form class="d-flex">
                        <div class="input-group">
                            <span class="input-group-text search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input class="form-control me-2 ps-0 border-start-0 shadow-none" type="search" placeholder="Search" aria-label="Search" />
                        </div>
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                    <div class="btn btn-dark ms-5">Sign in</div>
                    <div class="btn btn-success ms-3" style="background-color: #05a833;">Sign up</div>
                </div>
            </div>
        </nav>
</header>