<nav
    class="navbar navbar-main navbar-expand-lg px-0 py-2"
    id="navbarBlur"
    navbar-scroll="true"
>
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="../img/home/logo.png" alt="" class="img-fluid" width="50px" />
            <span class="brand">COVID19 - MSys</span></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <select class="form-select me-3">
                <option selected value="">Tất cả</option>
                <option value="5">Thuốc</option>
                <option value="1">Thức ăn nhanh</option>
                <option value="2">Đồ uống</option>
                <option value="3">Ăn vặt</option>
                <option value="4">Gia vị</option>
                <option value="6">Thực phẩm tươi</option>
                <option value="7">Thực phẩm khô</option>
                <option value="9">Đồ sinh hoạt cá nhân</option>
            </select>
            <form class="d-flex">
                <div class="me-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        <label class="form-label">
                            Search
                        </label>
                        <input type="text" class="form-control navbar-search-field" />
                        <button class="btn btn-search">
                            <i class="fas fa-xl fa-search search-icon"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="btn btn-dark ms-5">Đăng nhập</div>
            <div class="btn btn-success ms-3">Đăng ký</div>

        </div>
    </div>
</nav>