<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="/">
      <img src="/img/Proj_logo.png" height="1000" class="navbar-brand-img brand-img" alt="main_logo" />
      <span class="ms-1 fs-7 font-weight-bold text-white">
        COVID19 - MSYS
      </span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2" />
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      {{#each hyperlinks}}
      <li class="nav-item">
        <a class="nav-link text-white" href="{{href}}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="{{icon}}"></i>
          </div>
          <span class="nav-link-text ms-1">
            {{label}}
          </span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="sidenav-footer position-absolute w-100 bottom-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link text-white" id="signout">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-right-from-bracket fa-lg"></i>
          </div>
          <span class="nav-link-text ms-1">
            Đăng xuất
          </span>
        </div>
      </li>
    </ul>
    <div class="mx-3">
      <a class="btn bg-gradient-success my-4 w-100" href="https://www.facebook.com/vhvu99" type="button">
        Đội ngũ xây dựng
      </a>
    </div>
  </div>
  {{#section "script2"}}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/js/view/logout.js"></script>
  {{/section}}
</aside>