{{#section "title"}}
  <title>
    Tài khoản thanh toán
  </title>
{{/section}}
{{#section "style"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="/css/user/accountPayment.css"
  />
{{/section}}
{{#if isHaveAccountPayment}}
  <div id="content-accountPayment">
    <div class="row w-100 py-4">
      <div class="card-remain col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body money-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 text-center">
                <i class="fa-solid fa-coins fa-money"></i>
              </div>
              <div class="col-12 col-sm-12 col-md-8">
                <div class="numbers text-center">
                  <p class="card-category">
                    Số dư
                  </p>
                  <p class="card-title text-success">
                    3.000.000.000 đồng
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer money-footer">
            <div
              class="stats"
              style="cursor: pointer;"
              data-bs-toggle="modal"
              data-bs-target="#depositModal"
            >
              <i class="fa-solid fa-circle-plus icon-bottom"></i>
              Nạp tiền vào tài khoản
            </div>
          </div>
        </div>
        <div
          class="modal fade text-left"
          id="depositModal"
          tabindex="-1"
          aria-labelledby="depositModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div
                  class="stats"
                  style="cursor: pointer;"
                  data-bs-toggle="modal"
                  data-bs-target="#depositModal"
                >
                  <i class="fa-solid fa-circle-plus icon-bottom"></i>
                  Nạp tiền vào tài khoản
                </div>
                <button
                  type="button"
                  class="close btn btn-success"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="fs-5" aria-hidden="true">
                    ×
                  </span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/user/{{id}}/deposit" method="post">
                  <div class="form-group">
                    <label class="control-label fs-6">
                      Số tiền
                      <star class="text-danger">
                        *
                      </star>
                    </label>
                    <input
                      class="form-control border border-2 p-2"
                      name="amount"
                      min="10000"
                      placeholder="Nhập số tiền (đơn vị: đồng)"
                      type="number"
                      required="true"
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-success">
                  Nạp
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Huỷ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-owe col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body money-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 text-center">
                <i class="fa-solid fa-money-bills fa-money text-danger"></i>
              </div>
              <div class="col-12 col-sm-12 col-md-8">
                <div class="numbers text-center">
                  <p class="card-category">
                    Tiền nợ
                  </p>
                  <p class="card-title text-danger">
                    5.000.000 đồng
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer money-footer">
            <div class="stats">
              <i class="fa-solid fa-circle-minus icon-bottom minus"></i>
              Thanh toán dư nợ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 p-0">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Lịch sử giao dịch
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive p-3">
            <table class="table table-hover" id="data_table">
              <thead class="text-primary">
                <tr>
                  <th class="text-left">
                    Mã giao dịch
                  </th>
                  <th>
                    Ngày
                  </th>
                  <th class="text-right">
                    Giao dịch
                  </th>
                  <th class="text-center">
                    Số tiền
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Đầu tư chứng khoán
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19219
                  </td>
                  <td>
                    17/03/2021
                  </td>
                  <td class="text-right">
                    Chuyển tiền cho bạn
                  </td>
                  <td class="text-center">
                    180 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19201
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    150 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT19217
                  </td>
                  <td>
                    16/03/2021
                  </td>
                  <td class="text-right">
                    Trả nợ 2 năm
                  </td>
                  <td class="text-center">
                    200 000
                  </td>
                </tr>
                <tr>
                  <td>
                    NT18201
                  </td>
                  <td>
                    18/03/2021
                  </td>
                  <td class="text-right">
                    Nạp tiền vào tài khoản
                  </td>
                  <td class="text-center">
                    300 000
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="w-100 text-center" id="newPasswordAccountPayment">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#newPasswordModal"
    >
      Liên kết tài khoản thanh toán
    </button>
    <!-- Set New Password Modal -->
    <div
      class="modal fade text-left"
      id="newPasswordModal"
      tabindex="-1"
      aria-labelledby="newPasswordModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPasswordModalLabel">
              Tạo mật khẩu mới
              <br />
              <small>
                <small>
                  Bạn chưa tạo mật khẩu cho tài khoản thanh toán
                </small>
              </small>
            </h5>
            <button
              type="button"
              class="btn btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="background: red; color: white; padding: 5px 10px 10px"
            >X</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">
                Password
                <star class="text-danger">
                  *
                </star>
              </label>
              <input
                class="form-control"
                name="password"
                id="registerPassword"
                type="password"
                required="true"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                Confirm Password
                <star class="text-danger">
                  *
                </star>
              </label>
              <input
                class="form-control"
                name="password_confirmation"
                id="registerPasswordConfirmation"
                type="password"
                required="true"
                equalto="#registerPassword"
              />
              <small id="registerPasswordError" class="text-danger"></small>
            </div>
            <div class="category">
              <star class="text-danger">
                *
              </star>
              Required fields
            </div>
            <button
              type="button"
              class="btn btn-primary float-right"
              onclick="() => handleBankingConnect(${userId})"
            >
              Tạo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#section "script"}}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
  ></script>
  <script>
    $(document).ready(function () {
        $('#data_table').DataTable();
    });
  </script>
{{/section}}