<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {{>link}}
</head>
<body >
        <div>
           {{> userSidebar}}
           
            <div class="main-content">
                {{> navbar}}
                <div class="container bg-gray-200 p-4">
                    {{{body}}}
                </div>
            </div>
            {{>pluginShow}}
           
        </div>
        
        {{> script}}
    
</body>
</html>