{{#section "title"}}
  <title>
    Thông tin nhu yếu phẩm
  </title>
{{/section}}
<form class="detail-product card mb-4">
  <div class="card-header">
    <div class="card-title">
      <h2>
        Thông tin nhu yếu phẩm
      </h2>
    </div>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label">
          Tên nhu yếu phẩm
          <span class="text-danger">
            *
          </span>
        </label>
        <input
          class="form-control"
          name="name"
          id="registerName"
          type="text"
          value="Bánh mì"
          required
        />
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label">
          Đơn giá
          <span class="text-danger">
            *
          </span>
        </label>
        <input
          min="1000"
          class="form-control"
          name="price"
          id="registerPrice"
          type="number"
          value="10000"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label">
          Đơn vị
          <span class="text-danger">
            *
          </span>
        </label>
        <input
          class="form-control"
          name="unit"
          id="registerUnit"
          type="text"
          value="ổ"
          required
        />
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label">
          Danh mục
          <span class="text-danger">
            *
          </span>
        </label>
        <select
          class="form-select"
          name="category_id"
          id="registerCategoryId"
          required
        >
          <option value="" disabled hidden>
            Chọn danh mục
          </option>
          <option value="fresh_food">
            Thực phẩm tươi sống
          </option>
          <option value="drink">
            Đồ uống
          </option>
          <option value="fast_food">
            Đồ ăn nhanh
          </option>
          <option value="dessert">
            Món tráng miệng
          </option>
          <option value="dry_food">
            Thực phẩm khô
          </option>
          <option value="personal_living_items">
            Đồ dùng sinh hoạt cá nhân
          </option>
          <option value="spice">
            Gia vị
          </option>
          <option value="other">
            Khác
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label w-50">
        Thêm hình ảnh (Thêm vào danh sách hình ảnh sẵn có)
      </label>
      <input
        class="form-control"
        name="images"
        accept="image/*"
        id="images"
        type="file"
        multiple
      />
    </div>
  </div>
  <div class="card-footer mx-auto">
    <button type="submit" class="btn btn-primary">
      Cập nhật
    </button>
  </div>
</form>
<div class="images-product card">
  <div class="card-header">
    <div class="card-title">
      <h2>
        Danh sách hình ảnh
      </h2>
    </div>
  </div>
  <div class="card-body row">
    <div
      class="col-12 col-sm-6 py-3 d-flex justify-content-center align-items-center"
      style="height: 300px"
    >
      <img
        class="img-contain"
        src="/img/necessaries/bread/pic1.png"
        alt="necessary"
      />
    </div>
    <div
      class="col-12 col-sm-6 py-3 d-flex justify-content-center align-items-center"
      style="height: 300px"
    >
      <img
        class="img-contain"
        src="/img/necessaries/bread/pic2.png"
        alt="necessary"
      />
    </div>
    <div
      class="col-12 col-sm-6 py-3 d-flex justify-content-center align-items-center"
      style="height: 300px"
    >
      <img
        class="img-contain"
        src="/img/necessaries/bread/pic3.jpg"
        alt="necessary"
      />
    </div>
    <div
      class="col-12 col-sm-6 py-3 d-flex justify-content-center align-items-center"
      style="height: 300px"
    >
      <img
        class="img-contain"
        src="/img/necessaries/bread/pic4.jpg"
        alt="necessary"
      />
    </div>
  </div>
</div>